.option-group-age-criteria-place-holder {
  width: 25rem;
  /* height: 31.25rem; */
  /* margin: 3.5rem 0 0; */
  /* padding: 0.5rem 0; */
  overflow: hidden;
  background-color: var(--WhiteCoreFfffff);
}

.select-criteria-place-holder {
  position: relative;
  width: 25rem;
  /* height: auto; */
  background-color: var(--WhiteCoreFfffff);
}

.line-copy-4 {
  position: absolute;
  width: 25rem;
  left: 0px;
  height: 0.063rem;
  /* margin: 0.75rem 0 1.188rem 3.5rem; */
  border: solid 1px var(--GreyPaleE8Edee);
}

.subject-criteria-label {
  width: 122px;
  height: 32px;
  margin: 0 0 6px;
  font-family: font-FrutigerLTW01;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;
}

.choose-criteria-label-position {
  position: absolute;
  top: 27.125rem;
  left: 458px;
}

.choose-criteria-label {
  width: 570px;
  height: 32px;
  /* margin: 7.75rem 3.938rem 5.75rem; */
  font-family: FrutigerLTStd;
  font-size: 1.5rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: var(--black231F20);
}

.option-label-position {
  position: absolute;
  left: 3.438rem;
  top: 0.3rem;
}

.eclipse-yellow-black {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* margin: 0 12px 0 0; */
  padding: 10px;
  box-shadow: 0 0 0 3px var(--HighlightWarmYellowFfb81C),
    inset 0 0 0 2px #425462;
  background-color: var(--WhiteCoreFfffff);
}

.eclipse-black {
  width: 40px;
  height: 40px;
  border: solid 2px #425562;
  border-radius: 50%;
  display: block;
  padding: 8px;
}

.option-selector-position {
  position: relative;
  top: 0.688rem;
  left: 1.188rem;
}

.option-typograpy-text {
  width: 20.125rem;
  height: 32px;
  margin: 0 0 6px;
  font-family: FrutigerLTStd-Roman;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: left;
  color: var(--Black231F20);
}
