body {
  font-family: "Frutiger";
  /* color: #fff;
  font: 600 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif; */
}

.header-bar-box {
  position: inherit;
  width: 1440px;
  height: 82px;
  /* padding: 21px 587px 21px 240px; */
  /* background-color: var(--blueCore005Eb8); */
}

/* Rounded border */
hr.divider-line {
  position: absolute;
  width: 960px;
  height: 1px;
  border-top: 1px solid #bbb;
  border-radius: 5px;
  top: 82px;
  left: 240px;
  /* background-color: #4081c1; */
  z-index: 1;
}

.subheader-bar-box {
  position: inherit;
  width: 1440px;
  height: 52px;
  /* padding: 21px 587px 21px 240px; */
  /* background-color: var(--blueCore005Eb8); */
}

.header-bar-logo {
  position: absolute;
  top: 21px;
  left: 240px;
}

.header-bar-title {
  position: absolute;
  top: 21px;
  left: 588px;
}

.choose-criteria-label {
  width: 510px;
  height: 32px;
  margin: 120px 64px 92px 63px;
  font-family: FrutigerLTStd;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  /* color: var(--black-231-f-20);  */
}

.choose-criteria-label-position {
  position: absolute;
  top: 434px;
  left: 465px;
}

.main-place-holder {
  width: 220px;
  height: 220px;
  margin: 92px 48px 92px 47px;
  padding: 73px 41px;
  background-color: #d8d8d8;
}

.main-place-holder-position {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 558px;
  left: 610px;
}

.button-search {
  width: 296px;
  height: 56px;
  padding: 21px 118px 16px 119px;
  border-radius: 4px;
  box-shadow: 0 4px 0 0 #8e9397;
  border: solid 0 rgba(0, 0, 0, 0);
  background-color: rgba(56, 72, 84, 0.5);
}

.button-search-position {
  position: absolute;
  bottom: 0px;
  left: 620px;
}

.button-search-text {
  width: 59px;
  height: 19px;
  /* font-family: FrutigerLTStd; */
  font-family: FrutigerLTW01-65Bold;
  font-size: 19px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  /* color: var(--white-core-ffffff); */
}

.box-set,
.box {
  border-radius: 6px;
}
.box-set {
  background: #eaeaed;
  height: 200px;
}
.box {
  background: #2db34a;
  width: 154px;
  height: 120px;
  margin: 60px 0px 120px 0;
  padding: 0 0.4px 0 0;
  border-radius: 4px;
}

.box-D10 {
  width: 64px;
  height: 64px;
  /* margin: 88px 0 148px 176px; */
  padding: 29px 0 24px;
  opacity: 0.5;
  background-color: #ff00d3;
}

.box-D2 {
  width: 8px;
  height: 8px;
  opacity: 0.5;
  background-color: #ff00d3;
}

.D10-pos {
  position: absolute;
  top: 222px;
}

.D2-pos {
  position: absolute;
  top: 248.8px;
}

.box-0 {
  position: absolute;
  top: 194px;
  /* left: 240px; */
}
.box-1 {
  position: absolute;
  top: 194px;
  /* left: 410px; */
}
.box-2 {
  position: absolute;
  top: 194px;
  /* left: 596px; */
}
.box-3 {
  position: absolute;
  top: 194px;
  /* left: 240px; */
}
.box-4 {
  position: absolute;
  top: 194px;
  /* left: 240px; */
}
.box-5 {
  position: absolute;
  top: 194px;
  /* left: 240px; */
}

.Desktop-HD-1440-Landing-Page {
  width: 1440px;
  height: 1024px;
  background-color: #e8edee;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  /* margintop: "3.375em"; */
}

.Desktop-Bar-Space {
  width: 1440px;
  height: 82px;
  background-color: #e8edee;
}

.spacer-col-176 {
  right: 0px;
  padding: 0px;
  width: 176px;
}
.spacer-col-64x64 {
  width: 64px;
  height: 64px;
}
.spacer-col-8x11 {
  width: 8px;
  height: 11px;
}
