@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-120 {
    height: 120px;
  }

  .w-154 {
    width: 154px;
  }

  .card-place-holder {
    width: 122px;
    height: 32px;
    margin: 0 0 6px;
    font-family: FrutigerLTStd;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #212b32;
  }

  @font-face {
    font-family: FrutigerLTW01-45Light;
    src: local(FrutigerLTW01-45Light),
      url(./custom_fonts/FrutigerLTW01-45Light.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }

  @font-face {
    font-family: FrutigerLTW01-46LightItalic;
    src: local(FrutigerLTW01-46LightItalic),
      url(./custom_fonts/FrutigerLTW01-46LightItalic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
  }

  @font-face {
    font-family: FrutigerLTW01-55Roman;
    src: local(FrutigerLTW01-55Roman),
      url(./custom_fonts/FrutigerLTW01-55Roman.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }

  @font-face {
    font-family: FrutigerLTW01-56Italic;
    src: local(FrutigerLTW01-56Italic),
      url(./custom_fonts/FrutigerLTW01-56Italic.ttf) format("truetype");
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
  }

  @font-face {
    font-family: FrutigerLTW01-65Bold;
    src: local(FrutigerLTW01-65Bold),
      url(./custom_fonts/FrutigerLTW01-65Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
  }

  @font-face {
    font-family: FrutigerLTW01-66BoldItalic;
    src: local(FrutigerLTW01-66BoldItalic),
      url(./custom_fonts/FrutigerLTW01-66BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
    font-stretch: normal;
  }

  @font-face {
    font-family: FrutigerLTW01-75Black;
    src: local(FrutigerLTW01-75Black),
      url(./custom_fonts/FrutigerLTW01-75Black.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: FrutigerLTW01-76BlackItalic;
    src: local(FrutigerLTW01-76BlackItalic),
      url(./custom_fonts/FrutigerLTW01-76BlackItalic.ttf) format("truetype");
    font-weight: normal;
    font-style: Italic;
    font-stretch: normal;
  }
  @font-face {
    font-family: FrutigerLTW01-95UltraBlack;
    src: local(FrutigerLTW01-95UltraBlack),
      url(./custom_fonts/FrutigerLTW01-95UltraBlack.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }

  .DesktopH1 {
    font-family: FrutigerLTStd;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #212b32;
  }

  .MobileH1 {
    font-family: FrutigerLTStd;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #212b32;
  }

  .DesktopH2 {
    font-family: FrutigerLTStd;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #212b32;
  }

  .MobileH2 {
    font-family: FrutigerLTStd;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #212b32;
  }

  .DesktopH3 {
    font-family: FrutigerLTStd;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #212b32;
  }

  .DesktopLead-paragraph {
    font-family: FrutigerLTStd-Roman;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #212b32;
  }

  .DesktopH4 {
    font-family: FrutigerLTStd;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #212b32;
  }

  .MobileH3 {
    font-family: FrutigerLTStd;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #212b32;
  }

  .MobileLead-paragraph {
    font-family: FrutigerLTStd-Roman;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #212b32;
  }

  .DesktopParagraph {
    font-family: FrutigerLTStd-Roman;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #212b32;
  }

  .DesktopNumbered-list {
    font-family: FrutigerLTStd-Roman;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #212b32;
  }

  .DesktopLink---Align-right {
    font-family: FrutigerLTStd-Roman;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    text-align: right;
    color: var(--BlueCore005Eb8);
  }

  .DesktopLink---Align-left {
    font-family: FrutigerLTStd-Roman;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: var(--BlueCore005Eb8);
  }

  .DesktopBullet-list {
    font-family: FrutigerLTStd-Roman;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: #212b32;
  }

  .MobileH4 {
    font-family: FrutigerLTStd;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #212b32;
  }

  .DesktopH5 {
    font-family: FrutigerLTStd;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #212b32;
  }

  .DesktopInput-Field {
    font-family: FrutigerLTStd-Roman;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #212b32;
  }

  .DesktopHint-text-Style-Desktop {
    font-family: FrutigerLTStd-Roman;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: rgba(66, 85, 99, 0.8);
  }

  .MobileH5 {
    font-family: FrutigerLTStd;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #212b32;
  }

  .MobileParagraph {
    font-family: FrutigerLTStd-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #212b32;
  }

  .MobileNumbered-list {
    font-family: FrutigerLTStd-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #212b32;
  }

  .MobileLink {
    font-family: FrutigerLTStd-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: var(--BlueCore005Eb8);
  }

  .MobileHint-text-Style-Mobile {
    font-family: FrutigerLTStd-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #465968;
  }

  .MobileBullet-list {
    font-family: FrutigerLTStd-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #212b32;
  }

  .DesktopSmall-text {
    font-family: FrutigerLTStd-Roman;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    color: #212b32;
  }

  .MobileSmall-text {
    font-family: FrutigerLTStd-Roman;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #212b32;
  }

  .DesktopTag-Text {
    font-family: FrutigerLTStd-Roman;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #212b32;
  }
}

@layer components {
  /* Badge */
  .badge-base {
    @apply inline-flex items-center rounded-2xl font-medium;
  }

  .badge-gray {
    @apply bg-gray-100 text-gray-700;
  }

  .badge-primary {
    @apply bg-primary-50 text-primary-700;
  }

  .badge-error {
    @apply bg-error-50 text-error-700;
  }

  .badge-warning {
    @apply bg-warning-50 text-warning-700;
  }

  .badge-success {
    @apply bg-success-50 text-success-700;
  }

  .badge-sm {
    @apply h-5.5 px-2 text-xs;
  }

  .badge-md {
    @apply h-6 px-2.5 text-xs;
  }

  .badge-lg {
    @apply h-7 px-3 text-sm;
  }

  /* Button */
  .btn-base {
    @apply flex items-center rounded-lg font-medium focus:outline-none whitespace-nowrap select-none;
  }

  .btn-sm {
    @apply h-9 px-3.5 text-sm;
  }

  .btn-md {
    @apply h-10 px-4 text-sm;
  }

  .btn-lg {
    @apply h-11 px-4.5 text-md;
  }

  .btn-xl {
    @apply h-12 px-5 text-md;
  }

  .btn-2xl {
    @apply h-40 px-7 text-lg;
  }

  .btn-3x1 {
    @apply h-120 w-154 text-lg;
  }
  .btn-12xl {
    @apply h-15 px-7 text-lg;
  }
  .btn-icon-sm {
    @apply h-9 w-9;
  }

  .btn-icon-md {
    @apply h-10 w-10;
  }

  .btn-icon-lg {
    @apply h-11 w-11;
  }

  .btn-icon-xl {
    @apply h-12 w-12;
  }

  .btn-icon-2xl {
    @apply h-15 w-15;
  }

  /* Primary */
  .btn-primary {
    @apply bg-primary-600 dark:bg-gray-800 dark:text-white;
  }

  .btn-primary-xl {
    @apply bg-blue_core_tint_20_c_7_daec text-white dark:text-white;
  }

  .btn-primary-hover {
    @apply hover:bg-grey_mid_768692 dark:hover:bg-gray-700;
  }

  .btn-primary-focus {
    @apply focus:ring-4 focus:ring-primary-100 dark:focus:ring-gray-100 dark:focus:ring-opacity-20;
  }

  .btn-primary-disabled {
    @apply bg-primary-200 dark:bg-gray-400  text-white;
  }

  /* Secondary */
  .btn-secondary {
    @apply shadow-sm border border-transparent dark:border-white bg-primary-50 dark:bg-opacity-20 text-primary-700 dark:text-white;
  }

  .btn-secondary-hover {
    @apply hover:bg-primary-100 dark:hover:bg-white dark:hover:bg-opacity-40 dark:hover:border-opacity-40 dark:hover:text-white;
  }

  .btn-secondary-focus {
    @apply focus:ring-4 focus:ring-primary-100 dark:focus:ring-gray-100 dark:focus:ring-opacity-20;
  }

  .btn-secondary-disabled {
    @apply shadow-sm bg-primary-25 dark:bg-white dark:bg-opacity-20 text-primary-300 dark:border-gray-300 dark:text-gray-300;
  }

  /* SecondaryGray */
  .btn-secondaryGray {
    @apply shadow-sm border border-gray-300 dark:border-white bg-white dark:bg-gray-900 text-gray-700 dark:text-white;
  }

  .btn-secondaryGray-hover {
    @apply hover:bg-gray-50 dark:hover:bg-gray-900 hover:text-gray-800 dark:hover:text-gray-300 dark:border-gray-300;
  }

  .btn-secondaryGray-focus {
    @apply focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-100 dark:focus:ring-opacity-20;
  }

  .btn-secondaryGray-disabled {
    @apply shadow-sm border border-gray-200 text-gray-300 dark:bg-gray-600  dark:text-white;
  }

  /* Tertiary */
  .btn-tertiary {
    @apply bg-white dark:bg-gray-900 text-primary-700;
  }

  .btn-tertiary-hover {
    @apply hover:bg-primary-50 dark:hover:bg-white dark:hover:bg-opacity-20;
  }

  .btn-tertiary-disabled {
    @apply bg-white dark:bg-gray-900 text-gray-300;
  }

  /* TertiaryGray */
  .btn-tertiaryGray {
    @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-200;
  }

  .btn-tertiaryGray-hover {
    @apply hover:bg-gray-50 dark:hover:bg-white dark:hover:bg-opacity-20 hover:text-gray-800 dark:hover:text-white;
  }

  .btn-tertiaryGray-disabled {
    @apply bg-white dark:bg-gray-900 text-gray-300 dark:text-gray-400;
  }

  /* Button group */
  .btn-group {
    @apply inline-flex whitespace-nowrap items-center h-10 px-4 font-medium text-sm focus:outline-none hover:bg-gray-50 dark:hover:bg-gray-700 text-gray-700 dark:text-white border border-gray-300 dark:border-gray-500;
  }

  /* Navigation */
  .navItem {
    @apply flex items-center w-full h-10 py-2 rounded-lg cursor-pointer 
    text-md whitespace-nowrap select-none
    transition-all duration-100 ease-out
    hover:bg-primary-50 dark:hover:bg-gray-100 dark:hover:bg-opacity-10;
  }

  /* px-8 py-3 mb-1 mr-1 font-bold text-pink-500 uppercase transition-all duration-150 ease-linear bg-transparent border border-pink-500 border-solid rounded outline-none hover:bg-pink-500 hover:text-white active:bg-pink-600 focus:outline-none; */
}
