.ElementsText-input3-DigitActive-error {
  width: 52px;
  height: 36px;
  margin: 19px 41px 8px 84px;
  padding: 2px;
}

.ElementsText-input3-DigitActive-position {
  top: 26px;
  left: 209px;
}

.ElementsText-input3-DigitActive-focus {
  width: 3rem;
  height: 2rem;
  padding: 0.125rem 0.438rem 0.125rem 0.5rem;
  border-radius: 4px;
  box-shadow: 0 0 0 2px var(--HighlightWarmYellowFfb81C),
    inset 0 0 0 2px var(--GreyDark425563);
  background-color: var(--WhiteCoreFfffff);
}

.Rectangle_error {
  width: 48px;
  height: 32px;
  padding: 0.25rem 0.5rem;
  border-style: hidden;
  border-radius: 4px;
  box-shadow: 0 0 0 2px var(--HighlightWarmYellowFfb81C),
    inset 0 0 0 2px var(--HighlightEmergencyServiceRedDa291C);
  background-color: var(--WhiteCoreFfffff);
  outline: none;
}

.Rectangle_focus {
  /* width: 48px; */
  /* height: 32px; */
  padding: 0.25rem 0.5rem !important;
  border: hidden !important;
  border-style: hidden !important;
  border-radius: 4px;
  box-shadow: 0 0 0 2px var(--HighlightWarmYellowFfb81C),
    inset 0 0 0 2px var(--GreyDark425563);
  background-color: var(--WhiteCoreFfffff);
  outline: none;
}

.Rectangle {
  width: 36px;
  height: 36px;
  margin: 3px 1px 0 99px;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  border-image-source: conic-gradient(
    from 0.34turn,
    var(--BlueCore005Eb8),
    #484d85 0.3turn,
    var(--HighlightEmergencyServiceRedDa291C) 0.91turn
  );
  border-image-slice: 1;
  background-image: linear-gradient(
      to bottom,
      var(--BlueCore005Eb8),
      var(--BlueCore005Eb8)
    ),
    conic-gradient(
      from 0.34turn,
      var(--BlueCore005Eb8),
      #484d85 0.3turn,
      var(--HighlightEmergencyServiceRedDa291C) 0.91turn
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.ElementsText-input3-DigitActive {
  width: 3rem;
  height: 2rem;
  border: solid 2px #425563;
  background-color: #ffffff;
  /* color: var(--Black231F20); */
  border-radius: 4px;
  /* text-align: center; */
  padding: 0.125rem 0.325rem;
}

.ElementsText-input3-text {
  width: 2.1rem;
  height: 0.85rem;
  font-family: FrutigerLTStd-Roman;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;
  border: none;
  outline: none;
}

.nhs-number-input {
  width: 11.375rem !important;
  height: 2rem !important;
  border: solid 2px #425563;
  background-color: #ffffff;
  color: var(--Black231F20);
  border-radius: 4px;
  text-align: center;
  padding: 0.125rem 0.325rem;
}

.nhs-number-input-text {
  width: 10.8rem;
  height: 0.85rem;
  /* margin: 0 0.5rem 0 6.875rem; */
  /* padding: 0.125rem; */
  font-family: FrutigerLTStd-Roman;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #231f20;
  border: none;
  outline: none;
}
