* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  color: #222;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  margin: 0 50px;
}

.react-draggable,
.cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}

.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}

.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  float: left;
}

.CircleProgress-position {
  width: 150px;
  padding-right: 30px;
}

.circle {
  width: 36px;
  height: 36px;
  left: 300px;
  background: #005eb8;
  border-radius: 50%;
  position: absolute;
}

.circle-inner-position {
  left: 150px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
  touch-action: none;
}
.circle-shadow-1 {
  box-shadow: 1px 2px 8px 6px #b81b1b inset;
}
.circle-shadow-2 {
  box-shadow: 3px 3px 6px 4px #b81b1b inset;
}
.circle-shadow-3 {
  box-shadow: 4px 4px 4px 3px #b81b1b inset;
}
.circle-shadow-4 {
  box-shadow: 5px 5px 2px 2px #b81b1b inset;
}
.circular-progress {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
.circle-gradient-1 {
  background-image: linear-gradient(to left, #484d85, #da291c);
}
.circle-gradient-2 {
  background-image: linear-gradient(to left, #005eb8, #da291c);
}

.circle-gradient {
  background: #005eb8);
}

.line-base {
  position:absolute;
  left:120px;
  top:10px;
  width:352px;
  height: 2px;
  margin:20px 0 17px;
  padding: 0 0 0 81px;
  border:solid 4px var (--blueCoreTint20C7Daec);
}

.line-fill {
  width: 271px;
  height: 2px;
  z-index:-1;
  border: solid 4px var (#005eb8);
}

.circular-progress-circle-gr1  {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: linear-gradient(to right , #005eb8, #005eb8);
  overflow: hidden;
}

.circular-progress-circle-gr2  {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-image: linear-gradient(to left, #005eb8, #484d85, #da291c);
  overflow: hidden;
}
.segment {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background: #b81b1b;
  transform-origin: 0 0;
}

.circular-progress-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 32px;
  height: 32px;
  transform: translateX(-50%) translateY(-50%);
  background: #005eb8;
  border-radius: 50%;
  box-shadow: inset rgba(34, 36, 38, 0.15) 0px 0px 3px 2px;
}

#container {
  width: 100%;
  height: 400px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 7px;
  touch-action: none;
}
#item-draggable {
  touch-action: none;
  user-select: none;
  z-index: 100;
}
#item-draggable:active {
  //background-color: rgba(168, 218, 220, 1);
}
#item-draggable:hover {
  cursor: pointer;
  /* border-width: 20px; */
}

.item-rotate {
  width: 36px;
  height: 36px;
  background: linear-gradient(#fff,#448de0);
  animation: bgc 1.5s infinite linear;
  border-radius: 50%;
  position: relative; 
  z-index: -1;
}


